html, body {
    height:100%;
}

.nav {
    border-right:1px solid #ccc;
    height:100%;
    overflow:auto;
}

ul.items li {
    padding:5px 10px;
    border-top:1px solid #ccc;
    transition:background 50ms linear;
}

ul.items li:hover {
    background:#eee;
    cursor:pointer;
}

ul.items li.active {
    background-color:#eec;
}
