html, body {
    height:100%;
}

.nav {
    border-right:1px solid #ccc;
    height:100%;
    overflow:auto;
}

ul.items li {
    padding:5px 10px;
    border-top:1px solid #ccc;
    transition:background 50ms linear;
}

ul.items li:hover {
    background:#eee;
    cursor:pointer;
}

ul.items li.active {
    background-color:#eec;
}

.content {
    height:100%;
    overflow:auto;
}

.sections section {
    border-top:1px solid #ccc;
    padding:10px 5px;
}

.shoutout {
    position:fixed;
    bottom:0px;
    right:0px;
    width:200px;
    background:#fff;
    opacity:0.7;
    padding:5px;
    font-size:13px;
}

.shoutout:hover {
    opacity:1;
}
