html, body {
    height:100%;
}

.code-browser a {
    color: blue;
    text-decoration: underline;
}

.restrict {
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:40px;
}

.footer {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    border-top:1px solid #ccc;
    padding:5px 10px;
    height:40px;
}

.nav {
    border-right:1px solid #ccc;
    height:100%;
    overflow:auto;
}

.nav h2 {
    margin-bottom: 0;
}

ul.items li {
    border-top:1px solid #ccc;
    transition:background 50ms linear;
    padding:5px 10px;
}

ul.items#titles li {
    padding:5px 10px 0 10px;
}

ul.items li.repealed {
    color:#888;
}

ul.items li:hover {
    background:#eee;
    cursor:pointer;
}

ul.items li.active {
    background-color:#eec;
}

.number {
    color:#777;
    width:20px;
    text-align:right;
    display:block;
    float:left;
}

.name {
    margin-left:30px;
    display:block;
}

.section-number {
    color:#777;
    margin-right:5px;
}

.content {
    height:100%;
    overflow:auto;
}

.content h1 {
    border-bottom:1px solid #ccc;
    margin-bottom:0;
}

#section.loading {
    opacity:0.5;
}

div section:first-child {
    border-top:none;
}

section {
    border-top:1px solid #eee;
    padding:10px 5px;
}

section.section-2 {
    margin-left:10px;
}

section.section-3 {
    margin-left:20px;
}

section .section-prefix {
    display:inline-block;
    margin-right:5px;
    color:#777;
}

.limited-text {
    border-top:1px solid #ccc;
    max-height:200px;
    background:#eee;
    overflow:auto;
}
